.auth-block {
	width: 20rem;
	max-width: 90%;
	background-color: darkcyan;
	padding: 30px 20px 35px;
	margin: 21px auto 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	color: azure;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	border-radius: 15px;
}
.login-form {
	width: 20rem;
	max-width: 90%;
	margin: auto;
	display: block;
}
